
.event-card {
    background-color: white;
}
.events-form-pages{
    margin-bottom: 10px;
    border-bottom:1px solid rgba(111, 110, 110, 0.238);
}
.event-form-page-btn{
    text-align: center;
}
.header-page-btns{
    padding: 15px;
}
.btn-tab {
    background: none;
    border: none;
    color: #000;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
  }
  
  .btn-tab.active {
    font-weight: bold;
    color: #007bff;
    border-bottom: 2px solid #007bff;
  }
  
  .btn-tab:hover {
    color: #007bff;
  }
  